{% extends "layout.html" %}

{%block content%}
<div class="page">
  <div class="hero is-fullheight is-white has-background-cat">
    <div class="hero-body">
      <div class="columns">
        <div class="column is-6">
          <h1 class="hidden-left element-to-observe ultra-title">Creando nuevas ideas</h1>
        </div>
        <div class="column is-6 centered">
          <div class="has-text-right"> <!-- Centra horizontalmente -->
            <a href="/repositorios" class="hidden-right element-to-observe has-text-weight-semibold is-underlined interesting hast-text-batman">{ Descubrir más }</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}