{% extends "layout.html" %}

{%block content%}
<div class="page">
    <div class="hero is-white is-halfheight has-background-yingyang">
        <div class="hero-body">
            <div class="column is-two-fifths">
                <h1 class="ultra-title">La empresa ML</h1>
            </div>
        </div>
    </div> <br><br>
    <div class="container">
        <div class="card is-primary nopadding">
            <div class="columns">
                <div class="column is-6 has-background-cat"></div>
                <div class="column is-6 our-section">
                    <div class="hidden-right element-to-observe card rotated-5" style="transform: translateY(1rem)">
                        <div class="card-title">
                            <h1 class="title">Misión de la empresa</h1>
                        </div>
                        <hr>
                        <div class="card-content">
                            <p>Nuestra misión es contribuir al colapso del sistema educativo creando proyectos y tareas escolares que sean tan incomprensibles y absurdos que los estudiantes, profesores y padres de familia se rindan ante la confusión. Queremos fomentar la desesperación académica y ayudar a que los niños y jóvenes sueñen con un mundo donde no existan tareas escolares.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <br><br><br>

        <div class="card is-tertiary nopadding">
            <div class="columns">
                <div class="column is-6 our-section">
                    <div class="hidden-left element-to-observe card rotated--3" style="transform: translateY(1rem)">
                        <div class="card-title">
                            <h1 class="title">Visión de la empresa</h1>
                        </div>
                        <hr>
                        <div class="card-content">
                            <p>Imaginamos un futuro en el que nuestros proyectos y tareas escolares sean tan enigmáticos que los estudiantes se vean obligados a abandonar la escuela y dedicarse a actividades más productivas y satisfactorias, como la contemplación de nubes o el cultivo de bonsáis. Queremos ser líderes en la creación de obstáculos educativos insalvables que desafíen el sentido común y la lógica, forjando así una generación de jóvenes rebeldes contra la opresión de las tareas escolares.</p>
                        </div>
                    </div>
                </div>

                <div class="column is-6 has-background-rain"></div>
            </div>
        </div> <br><br><br>

        <div class="card is-secundary nopadding">
            <div class="columns">
                <div class="column is-6 has-background-cat"></div>
                <div class="column is-6 our-section">
                    <div class="hidden-right element-to-observe card rotated-2" style="transform: translateY(1rem)">
                        <div class="card-title">
                            <h1 class="title">Valores de la empresa</h1>
                        </div>
                        <hr>
                        <div class="card-content">
                            <ul>
                                <li>Confusión Creativa: Promovemos la creación de proyectos y tareas escolares tan enrevesados que hagan que los estudiantes se pregunten si sus profesores han perdido la razón. La confusión es nuestra brújula.</li>
                                <li>Resistencia al Aprendizaje: Fomentamos la resistencia activa al aprendizaje convencional y a la adquisición de conocimientos. Creemos en la libertad de ignorancia.</li>
                                <li>Desafío a la Lógica: Nos esforzamos por desafiar todas las leyes de la lógica y el sentido común en nuestras tareas escolares, llevando a los estudiantes a cuestionar su propia existencia.</li>
                                <li>Apoyo a la Flojera: Abogamos por la pereza académica y creemos que las tareas escolares deberían ser tan aburridas que los estudiantes prefieran hacer cualquier cosa menos estudiar.</li>
                                <li>Alienación Familiar: Trabajamos arduamente para crear proyectos y tareas que provoquen conflictos familiares, haciendo que los padres se cuestionen por qué pagaron por la educación de sus hijos.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <br>
    </div>
</div>
{%endblock%}