{% extends "layout.html" %}

{%block content%}
<div class="page">
    <div class="hero is-white is-fullheight has-background-rain">
        <div class="hero-body">
            <div class="columns min-100">
                <div class="column is-6 centered">
                    <img class="hidden-left element-to-observe" src="../static/img/logo2.png" alt="">
                </div>

                <div class="column is-6 centered">
                    <div class="card">
                        <div class="card-title">
                            <h1 class="title">Nuestros Clientes</h1>
                        </div>
                        <hr>
                        <div class="card-rotator">
                            <div class="hidden-bottom element-to-observe card is-primary rotated-5">
                                <h1 class="subtitle">Juanito Perez</h1>
                                <hr>
                                <p>Es la mejor opcion para copiar tareas, es increible!</p>
                            </div>

                            <div class="hidden-bottom element-to-observe card is-secundary rotated--3">
                                <h1 class="subtitle">El Brando :v</h1>
                                <hr>
                                <p>Voy hacer un tiroteo, primer aviso</p>
                            </div> <br>

                            <div class="hidden-bottom element-to-observe card is-tertiary rotated-2">
                                <h1 class="subtitle">Juan Escutia</h1>
                                <hr>
                                <p>Nose como llegue aqui, pero no le crean a la gente, no me tire >:v</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}